# Auto detect text files and perform LF normalization
* text=auto

# Linux Specific Files
*.sh eol=lf
/_lanyware/linux/*/Dockerfile eol=lf
/_lanyware/linux/*/.dockerignore eol=lf

# Windows Specific Files
*.bat eol=crlf
*.ps1 eol=crlf
/_lanyware/windows/*/Dockerfile eol=crlf
/_lanyware/windows/*/.dockerignore eol=crlf