# Apple junk
.DS_Store


# Windows junk
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db


# Misc for Dev/Testing
/*test.*
.vscode/


# Don't upload legit user-secrets file
user-secrets.json


# Files that may have been created by runtime
*.filepart
/bin/linux-steamcmd
/cache
/logs
/tmp.tar.gz